In [4]:
import numpy as np
import pandas as pd
import cntk as C
import os
import matplotlib.pyplot as plt
import seaborn as sns
from PIL import Image
import matplotlib.image as mpimg
import time
%matplotlib inline

In [5]:
sns.set()

In [6]:
TRAIN_PATH=r'C:\Users\sagagarw\Downloads\mnist\train.csv'
TEST_PATH=r'C:\Users\sagagarw\Downloads\mnist\test.csv'

In [7]:
df=pd.read_csv(TRAIN_PATH,delimiter=',')

In [8]:
df.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df.describe()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
count,42000.000000,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,...,42000.000000,42000.000000,42000.000000,42000.00000,42000.000000,42000.000000,42000.0,42000.0,42000.0,42000.0
mean,4.456643,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.219286,0.117095,0.059024,0.02019,0.017238,0.002857,0.0,0.0,0.0,0.0
std,2.887730,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.312890,4.633819,3.274488,1.75987,1.894498,0.414264,0.0,0.0,0.0,0.0
min,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
25%,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
50%,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
75%,7.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
max,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,254.000000,254.000000,253.000000,253.00000,254.000000,62.000000,0.0,0.0,0.0,0.0

In [10]:
msk = np.random.rand(len(df)) < 0.8
train_df=df[msk]
test_df=df[~msk]

In [11]:
len(train_df)

33585

In [12]:
train_df.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
len(test_df)

8415

In [14]:
test_df.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
def plot_digit(arr):
    plt.imshow(np.uint8(arr.reshape(28,28)))

In [16]:
input_dim=(1,28,28)
output_dim=10

In [17]:
x=C.input_variable(input_dim)
y=C.input_variable(output_dim)

In [18]:
def create_model(features):
    with C.layers.default_options(init=C.glorot_uniform(),activation=C.relu):
        h=features
        h=C.layers.Convolution2D((3,3), num_filters=8,name='ConvolutionLayer1')(h)
        h=C.layers.Convolution2D((5,5), num_filters=5, name='ConvolutionLayer2')(h)
    h=C.layers.Dense(output_dim,activation=None,name='ClassificationLayer')(h)
    return h

In [19]:
z=create_model(x)

In [20]:
print(z.ConvolutionLayer1)

ConvolutionLayer1: Convolution(Tensor[1,28,28]) -> Tensor[8,26,26]

In [21]:
print(z.ConvolutionLayer2)

ConvolutionLayer2: Convolution(ConvolutionLayer1: Tensor[8,26,26]) -> Tensor[5,22,22]

In [22]:
print(z.ClassificationLayer)

ClassificationLayer: Dense(ConvolutionLayer2: Tensor[5,22,22]) -> Tensor[10]

In [23]:
def create_criterian_function(model,labels):
    error=C.classification_error(model,labels)
    loss=C.cross_entropy_with_softmax(model,labels)
    return (loss,error)

In [24]:
# Define a utility function to compute the moving average sum.
# A more efficient implementation is possible with np.cumsum() function
def moving_average(a, w=5):
    if len(a) < w:
        return a[:]    # Need to send a copy of the array
    return [val if idx < w else sum(a[(idx-w):idx])/w for idx, val in enumerate(a)]


# Defines a utility that prints the training progress
def print_training_progress(trainer, mb, frequency, verbose=1):
    training_loss = "NA"
    eval_error = "NA"

    if mb%frequency == 0:
        training_loss = trainer.previous_minibatch_loss_average
        eval_error = trainer.previous_minibatch_evaluation_average
        if verbose:
            print ("Minibatch: {0}, Loss: {1:.4f}, Error: {2:.2f}%".format(mb, training_loss, eval_error*100))

    return mb, training_loss, eval_error

In [25]:
def get_data_from_df(df):
    yvalues=[]
    xvalues=[]
    for row in df.itertuples(index=False, name='Pandas'):
        yvalues.append([int(row[0])==idx for idx in range(0,output_dim)])
        xvalues.append(np.array(row[1:],dtype=np.float32).reshape(1,28,28))
    return xvalues,yvalues

In [26]:
def get_data(arrX,arrY,batch_number,minibatch_size):
    start_idx=batch_number*minibatch_size
    end_idx=min((batch_number+1)*minibatch_size,len(df))
    data_x=arrX[start_idx:end_idx]
    data_y=arrY[start_idx:end_idx]
    return data_x,data_y

In [27]:
def learn_model(df,model,epochs=1,isTest=False):
    model=model(x/255)
    loss,error=create_criterian_function(model,y)
    lr=0.01
    lr_schedule=C.learning_parameter_schedule(lr)
    learner=C.sgd(z.parameters,lr_schedule)
    trainer=C.Trainer(z,(loss,error),[learner])
    
    minibatch_size=64
    no_of_minibatches=len(df)/minibatch_size
    training_progress_output_freq=100
    
    dataX,dataY=get_data_from_df(df)
    if not isTest:
        start=time.time()
        for i in range(0,epochs):
            for j in range(0, int(no_of_minibatches)):
                x1,y1=get_data(dataX,dataY,j,minibatch_size)
                #print(x1.type, y1.type)
                trainer.train_minibatch({x:x1,y:y1})
                print_training_progress(trainer, j, training_progress_output_freq, verbose=1)
            print("Epoch:{0},loss:{1:.4f},error:{2:.2f}".format(i+1,trainer.previous_minibatch_loss_average,trainer.previous_minibatch_evaluation_average))
    
        print("Training took {:.1f} sec".format(time.time() - start))
    
    if isTest:
        test_result=0.0
        for j in range(0, int(no_of_minibatches)):
            x1,y1=get_data(dataX,dataY,j,minibatch_size)
            error=trainer.test_minibatch({x:x1,y:y1})
            test_result+=error
        print("Average test error: {0:.2f}%".format(test_result*100 / no_of_minibatches))

In [28]:
z=create_model(x)

In [29]:
len(test_df)

8415

In [30]:
learn_model(train_df,z,5)

C:\Users\sagagarw\AppData\Local\Continuum\Anaconda3\lib\site-packages\cntk\core.py:411: UserWarning: you provided the minibatch data as a list, but your corresponding input variable (uid "Input3") has only one dynamic axis (batch axis). To speed up graph execution, please convert the data beforehand into one NumPy array to speed up training.
  'training.' % var.uid)
C:\Users\sagagarw\AppData\Local\Continuum\Anaconda3\lib\site-packages\cntk\core.py:411: UserWarning: you provided the minibatch data as a list, but your corresponding input variable (uid "Input4") has only one dynamic axis (batch axis). To speed up graph execution, please convert the data beforehand into one NumPy array to speed up training.
  'training.' % var.uid)

Minibatch: 0, Loss: 2.3174, Error: 95.31%
Minibatch: 100, Loss: 0.6341, Error: 26.56%
Minibatch: 200, Loss: 0.4148, Error: 12.50%
Minibatch: 300, Loss: 0.3884, Error: 17.19%
Minibatch: 400, Loss: 0.5425, Error: 18.75%
Minibatch: 500, Loss: 0.5825, Error: 14.06%
Epoch:1,loss:0.4953,error:0.16
Minibatch: 0, Loss: 0.4870, Error: 10.94%
Minibatch: 100, Loss: 0.3351, Error: 12.50%
Minibatch: 200, Loss: 0.3665, Error: 15.62%
Minibatch: 300, Loss: 0.3368, Error: 12.50%
Minibatch: 400, Loss: 0.4758, Error: 15.62%
Minibatch: 500, Loss: 0.5251, Error: 12.50%
Epoch:2,loss:0.4185,error:0.12
Minibatch: 0, Loss: 0.4257, Error: 9.38%
Minibatch: 100, Loss: 0.3126, Error: 10.94%
Minibatch: 200, Loss: 0.3025, Error: 12.50%
Minibatch: 300, Loss: 0.2921, Error: 12.50%
Minibatch: 400, Loss: 0.4078, Error: 14.06%
Minibatch: 500, Loss: 0.4560, Error: 12.50%
Epoch:3,loss:0.3522,error:0.12
Minibatch: 0, Loss: 0.3719, Error: 9.38%
Minibatch: 100, Loss: 0.3001, Error: 9.38%
Minibatch: 200, Loss: 0.2365, Error: 7.81%
Minibatch: 300, Loss: 0.2435, Error: 7.81%
Minibatch: 400, Loss: 0.3518, Error: 12.50%
Minibatch: 500, Loss: 0.3776, Error: 10.94%
Epoch:4,loss:0.2883,error:0.11
Minibatch: 0, Loss: 0.3244, Error: 9.38%
Minibatch: 100, Loss: 0.2605, Error: 7.81%
Minibatch: 200, Loss: 0.1743, Error: 4.69%
Minibatch: 300, Loss: 0.2027, Error: 7.81%
Minibatch: 400, Loss: 0.2991, Error: 10.94%
Minibatch: 500, Loss: 0.3231, Error: 9.38%
Epoch:5,loss:0.2319,error:0.08
Training took 166.0 sec

In [31]:
learn_model(test_df,z,isTest=True)

C:\Users\sagagarw\AppData\Local\Continuum\Anaconda3\lib\site-packages\cntk\core.py:411: UserWarning: you provided the minibatch data as a list, but your corresponding input variable (uid "Input3") has only one dynamic axis (batch axis). To speed up graph execution, please convert the data beforehand into one NumPy array to speed up training.
  'training.' % var.uid)
C:\Users\sagagarw\AppData\Local\Continuum\Anaconda3\lib\site-packages\cntk\core.py:411: UserWarning: you provided the minibatch data as a list, but your corresponding input variable (uid "Input4") has only one dynamic axis (batch axis). To speed up graph execution, please convert the data beforehand into one NumPy array to speed up training.
  'training.' % var.uid)

Average test error: 6.31%

In [32]:
test_df_final=pd.read_csv(TEST_PATH,delimiter=',')

In [33]:
test_df_final.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
xvalues=[]
for row in test_df_final.itertuples(index=False, name='Pandas'):
    xvalues.append(np.array(row[0:],dtype=np.float32).reshape(1,28,28))

In [35]:
y_predict=z.eval({x:xvalues})

C:\Users\sagagarw\AppData\Local\Continuum\Anaconda3\lib\site-packages\cntk\core.py:411: UserWarning: you provided the minibatch data as a list, but your corresponding input variable (uid "Input3") has only one dynamic axis (batch axis). To speed up graph execution, please convert the data beforehand into one NumPy array to speed up training.
  'training.' % var.uid)

In [36]:
y_predict.shape

(28000, 10)

In [37]:
y_predict

array([[  1.02935071e+03,  -4.16485547e+03,   4.16231445e+03, ...,
         -5.13622131e+02,   4.09804047e+02,   3.69814339e+01],
       [  3.62808276e+03,  -3.03761401e+03,   1.51382214e+03, ...,
         -3.63516602e+02,  -4.66204345e-01,  -9.51444641e+02],
       [ -8.88427612e+02,  -8.21845520e+02,  -1.17455605e+02, ...,
         -4.46801575e+02,   6.68336487e+02,   1.15413354e+03],
       ...,
       [ -7.45734680e+02,  -2.80214478e+02,  -9.26057816e+00, ...,
         -1.78593273e+01,   9.05151733e+02,   5.38065796e+02],
       [ -5.02570984e+02,  -1.85819226e+03,  -1.64921521e+03, ...,
          3.08465149e+02,   6.36755920e+02,   2.72034717e+03],
       [  4.58572113e+02,  -3.39140576e+03,   3.48474731e+03, ...,
         -1.71451709e+03,   7.34145813e+02,   3.36058929e+02]], dtype=float32)

In [38]:
predicted_labels=[np.argmax(predictions) for predictions in y_predict]

In [39]:
predicted_dict=[(idx,predicted_labels[idx]) for idx in range(0,len(predicted_labels))]

In [40]:
result_df=pd.DataFrame({'Label':predicted_labels})

In [41]:
result_df.index+=1

In [42]:
result_df.index.names=['ImageId']

In [43]:
result_df.to_csv('output2.csv')

In [44]:
def create_model2(features):
    with C.layers.default_options(init=C.glorot_uniform(),activation=C.relu):
        h=features
        h=C.layers.Convolution2D((3,3), num_filters=8,name='ConvolutionLayer1')(h)
        h=C.layers.MaxPooling((4,4),strides=(2,2),name='PoolingLayer1')(h)
        h=C.layers.Convolution2D((5,5), num_filters=5, name='ConvolutionLayer2')(h)
        h=C.layers.MaxPooling((4,4),name='PoolingLayer2')(h)
    h=C.layers.Dense(output_dim,activation=None,name='ClassificationLayer')(h)
    return h

In [45]:
z2=create_model2(x)

In [ ]:
learn_model(train_df,z2,epochs=5)

C:\Users\sagagarw\AppData\Local\Continuum\Anaconda3\lib\site-packages\cntk\core.py:411: UserWarning: you provided the minibatch data as a list, but your corresponding input variable (uid "Input3") has only one dynamic axis (batch axis). To speed up graph execution, please convert the data beforehand into one NumPy array to speed up training.
  'training.' % var.uid)
C:\Users\sagagarw\AppData\Local\Continuum\Anaconda3\lib\site-packages\cntk\core.py:411: UserWarning: you provided the minibatch data as a list, but your corresponding input variable (uid "Input4") has only one dynamic axis (batch axis). To speed up graph execution, please convert the data beforehand into one NumPy array to speed up training.
  'training.' % var.uid)